<div class="tree-visualizer-container" *ngIf="displayTree">
  <ng-container *ngTemplateOutlet="nodeTemplate; context: {$implicit: displayTree, level: 0}"></ng-container>
</div>

<ng-template #nodeTemplate let-node let-level="level">
  <div class="node-wrapper" [style.padding-left.px]="level * 20">
    <div class="node-content"
         [class.is-current]="node.isCurrent"
         [class.is-on-path]="node.isOnPath"
         [class.action-node]="node.type === 'action'"
         [title]="node.question">
      <span class="node-icon-map">{{ node.type === 'action' ? '🏁' : '❓' }}</span>
      <span class="node-text">{{ node.question.substring(0, 30) }}{{ node.question.length > 30 ? '...' : '' }}</span>
    </div>
    
    <div class="node-children" *ngIf="node.children && node.children.length > 0">
      <ng-container *ngFor="let child of node.children; trackBy: trackByNodeId">
        <div class="child-branch">
          <div class="branch-info"
               [class.yes-branch]="child === node.yesNode"
               [class.no-branch]="child === node.noNode"
               [class.yes-traversed]="node.yesTraversed && child === node.yesNode"
               [class.no-traversed]="node.noTraversed && child === node.noNode">
            {{ child === node.yesNode ? 'YES' : 'NO' }}
          </div>
          <ng-container *ngTemplateOutlet="nodeTemplate; context: {$implicit: child, level: level + 1}"></ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template> 